{% extends 'base.html' %}

{% load static %}

{% block title %}

Invoices

{% endblock %}

{% block additionalcss %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>list of Invoices</h2>
      <br/>
      <hr/>

 {% if 1 %}
 <table id="invoicesTable" class="table table-striped">
   <thead>
     <tr>
       <th>#</th>
       <th>Customer Name</th>
       <th>Created Date</th>
       <th>Due Date</th>
       <th>Paid Date</th>
       <th>Status</th>
       <th>Total Amount</th>
       <th>Paid Amount</th>
       <th>Due Amount</th>
       <th></th>
       <th></th>
     </tr>
   </thead>
   <tbody>
   {% for i in invoices %}
   <tr>
     <th scope="row">{{ forloop.counter }}</th>
     <td>{{ i.customer }}</td>
     <td>{{ i.generated_date }}</td>
     <td>{{ i.due_date }}</td>
     <td>{{ i.paid_date }}</td>
     <td>{{ i.status }}</td>
     <td>{{ i.amount }}</td>
     <td>{{ i.paid }}</td>
     <td>{{i.due_amount}}</td>
     <td><a href="{{ i.get_update_url }}"><button type="button" class="btn btn-primary">Edit</button></a></td>
     <td><a href="{{ i.get_delete_url }}"><button type="button" class="btn btn-danger">Delete</button></a></td>
   </tr>
     {% endfor %}
   </tbody>
 </table>

{% else %}
<h3>No Invoices yet, Would you like to add one </h3>
{% endif %}
    </div>
  </div>


</div>
{% endblock content %}


{% block additionaljs %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript">
$(document).ready( function () {
    $('#invoicesTable').DataTable();
    console.log('success');
} );
</script>

{% endblock %}
