{% extends 'base.html' %}

{% load static %}

{% block title %}

Categories

{% endblock %}

{% block additionalcss %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>list of Categories</h2>
      <br/>
      <a href="{% url 'products:Category_Create' %}"><button type="button" class="btn btn-primary"><i class="fa fa-plus-square fa-x" aria-hidden="true"></i> &nbsp;Add Category</button></a>
      <hr/>

 {% if category_list %}
 <table id="categoriesTable" class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <tbody>
  {% for c in category_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></td>
      <td>{{ c.description }}</td>
      <td><a href="{{ c.get_update_url }}"><button type="button" class="btn btn-primary">Edit</button></a></td>
      <td><a href="{{ c.get_delete_url }}"><button type="button" class="btn btn-danger">Delete</i></button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<h3>No Categories yet, Would you like to add one </h3>
{% endif %}
    </div>
  </div>


</div>
{% endblock content %}


{% block additionaljs %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript">
$(document).ready( function () {
    $('#categoriesTable').DataTable();
} );
</script>

{% endblock %}
