{% extends 'base.html' %}

{% load static %}

{% block title %}

Events

{% endblock %}

{% block additionalcss %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>list of Events</h2>
      <br/>
      <a href="{% url 'booking:Event_Create' %}"><button type="button" class="btn btn-primary">Add Event</button></a>
      <hr/>

 {% if events_list %}
 <table id="eventTable" class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Customer</th>
      <th>Venue</th>
      <th>City</th>
      <th>Start Date</th>
      <th>Start Time</th>
      <th>End Date</th>
      <th>End Time</th>
      <th>Status</th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <tbody>
  {% for e in events_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{{ e.get_absolute_url }}">{{ e.customer }}</a></td>
      <td>{{ e.venue }}</td>
      <td>{{ e.city }}</td>
      <td>{{ e.start_date }}</td>
      <td>{{ e.start_time }}</td>
      <td>{{ e.end_date }}</td>
      <td>{{ e.end_time }}</td>
      <td>{{ e.status }}</td>
      <td><a href="{{ e.get_update_url }}"><button type="button" class="btn btn-primary">Edit</button></a></td>
      <td><a href="{{ e.get_delete_url }}"><button type="button" class="btn btn-danger">Delete</button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<h3>No Events yet, Would you like to add one </h3>
{% endif %}
    </div>
  </div>


</div>
{% endblock content %}


{% block additionaljs %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript">
$(document).ready( function () {
    $('#eventTable').DataTable();
} );
</script>

{% endblock %}
