{% extends 'base.html' %}

{% load static %}

{% block title %}

Services

{% endblock %}

{% block additionalcss %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>list of Services</h2>
      <br/>
      <a href="{% url 'products:Service_Create' %}"><button type="button" class="btn btn-primary">Add Service</button></a>
      <hr/>

 {% if Services_list %}
 <table id="servicesTable" class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>Quantity</th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <tbody>
  {% for s in Services_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{{ s.get_absolute_url }}">{{ s.name }}</a></td>
      <td>{{ s.description }}</td>
      <td>{{ s.price }}</td>
      <td>{{ s.category }}</td>
      <td>{{ s.quantity }}</td>
      <td><a href="{{ s.get_update_url }}"><button type="button" class="btn btn-primary">Edit</button></a></td>
      <td><a href="{{ s.get_delete_url }}"><button type="button" class="btn btn-danger">Delete</button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<h3>No Services yet, Would you like to add one </h3>
{% endif %}
    </div>
  </div>


</div>
{% endblock content %}


{% block additionaljs %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript">
$(document).ready( function () {
    $('#servicesTable').DataTable();
} );
</script>

{% endblock %}
