{% extends 'base.html' %}

{% load static %}

{% block title %}

Customers

{% endblock %}

{% block additionalcss %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>list of customers</h2>
      <br/>
      <a href="{% url 'customers:add' %}"><button type="button" class="btn btn-primary">Add Customer</button></a>
      <hr/>

 <table id="customersTable" class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>City</th>
      <th>Phone Number</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for c in customers %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{% url 'customers:detail' c.id %}">{{ c.name }}</a></td>
      <td>{{ c.city }}</td>
      <td>{{ c.phone_number }}</td>
      <td><a href="{% url 'customers:update' c.id %}"><button type="button" class="btn btn-primary">Edit</button></a></td>
      <td><a href="{% url 'customers:delete' c.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>

    </tr>
    {% endfor %}
  </tbody>
</table>
    </div>
  </div>


</div>
{% endblock content %}


{% block additionaljs %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript">
$(document).ready( function () {
    $('#customersTable').DataTable();
} );
</script>

{% endblock %}
