{% extends 'base.html' %}

{% load static %}

{% block title %}

Services

{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>list of Services</h2>
      <br/>
      <a href="{% url 'products:Service_Create' %}"><button type="button" class="btn btn-primary">Add Service</button></a>
      <hr/>

 {% if services_list %}
 <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>Quantity</th>
      <th></th>

    </tr>
  </thead>
  <tbody>
  {% for s in services_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{{ s.get_absolute_url }}">{{ s.name }}</a></td>
      <td>{{ s.description }}</td>
      <td>{{ s.price }}</td>
      <td>{{ s.quantity }}</td>
      <td>{{ s.category }}</td>
      <td><a href="{{ s.get_update_url }}"><button type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></button></a>&nbsp;&nbsp;
      <a href="{{ s.get_delete_url }}"><button type="button" class="btn btn-danger"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<h3>No Services yet, Would you like to add one </h3>
{% endif %}
    </div>
  </div>


</div>
{% endblock content %}
