{% extends 'base.html' %}

{% load static %}

{% block title %}

Payins

{% endblock %}

{% block additionalcss %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>list of Payins</h2>
      <br/>
      <a href="{% url 'accounting:Payin_Add' %}"><button type="button" class="btn btn-primary">Add Payin</button></a>
      <hr/>

 {% if payins_list %}
 <table id="payinsTable" class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Customer</th>
      <th>Event</th>
      <th>Date</th>
      <th>Time</th>
      <th>Amount</th>
      <th>Mode</th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <tbody>
  {% for p in payins_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{{ p.get_absolute_url }}">{{ p.customer }}</a></td>
      <td>{{ p.event }}</td>
      <td>{{ p.date }}</td>
      <td>{{ p.time }}</td>
      <td>{{ p.amount }}</td>
      <td>{{ p.mode }}</td>

      <td><a href="{{ p.get_update_url }}"><button type="button" class="btn btn-primary">Edit</button></a></td>
      <td><a href="{{ p.get_delete_url }}"><button type="button" class="btn btn-danger">Delete</button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<h3>No Payins yet, Would you like to add one </h3>
{% endif %}
    </div>
  </div>


</div>
{% endblock content %}


{% block additionaljs %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript">
$(document).ready( function () {
    $('#payinsTable').DataTable();
} );
</script>

{% endblock %}
